<%- include("partials/header"); -%>

<p><% startingContent %></p>
<a href="/create" class="btn btn-success">Create your book</a>
<% books.forEach(function(book){ %>
  <h1><%= book.title %></h1>
  <h3><%= book.author %></h3>
  <p><%= book.review.substring(0, 100) + "..." %>
    <a href="books/<%=book._id%>">Read Full Review</a>
  </p>
<%})%>
